@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  --primaryfoont:"Azeret Mono", monospace;
  --primarycolor:#0D1321;
}
body{
   font-family: var(--primaryfoont);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}
.btn{
border: 1px solid #0d1321;
border-radius: 8px;
padding: 17px 24px;
border: none;
}
.btn a{
font-weight: 600;
font-size: 20px;
text-align: center;
color: #0d1321;

}
/* nav ber start */
nav{
  display: flex;
  justify-content: space-between;
  margin: 50px 0 ;
  align-items: center;
}
nav .text{
  font-family: var(--primaryfoont);
font-weight: 800;
font-size: 28px;
color: #0d1321;
display: inline-block;

}
/* nav ber end */
/* banner section start */
#banner{
  width: 1440px;
  height: 652px;
  background-image: url(../images/Hero-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
#banner .banner-img{
  margin-top: 74px;
  width: 240px;
  height: 240px;
  align-items: center;
  
}
#banner h1{
font-weight: 800;
font-size: 48px;
line-height: 142%;
text-align: center;
color: #0d1321;
margin: 32px 0 24px;
}
#banner p{
font-weight: 400;
font-size: 16px;
line-height: 162%;
text-align: center;
color: #0d1321;
margin-bottom: 32px;
}
#banner button{
padding: 18px 24px;
background-color: black;
font-weight: 600;
font-size: 20px;
text-align: center;
color: #fff;
display: inline-block;
}
#banner .banner-btn{
  text-align: center;
}
/* banner section end */
/* web-dev section start  */
#wb-dev h2{
 margin-top: 154px;
font-weight: 800;
font-size: 32px;
text-align: center;
color: #0d1321;
}
#wb-dev p{
font-weight: 400;
font-size: 16px;
line-height: 162%;
text-align: center;
color: #0d1321;
margin: 16px 0 32px;
}
#wb-dev .wev-div-silectors .web-dev-cnt{
  width: 475px;
  
}
#wb-dev .wev-div-silectors .web-dev-cnt h3{
  margin: 16px 0 32px;
font-weight: 700;
font-size: 24px;
line-height: 150%;
color: rgba(13, 19, 33, 0.7);
}

#wb-dev .wev-div-silectors .web-dev-cnt button{
  margin-top: 32px;
}
#wb-dev .wev-div-silectors{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wb-dev .wev-div-silectors-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wb-dev .wev-div-silectors-2 .we-dev-cnt-2{
    margin-left: 80px;
}
#wb-dev .wev-div-silectors-2 .we-dev-cnt-2 h3{
  margin-bottom: 16px;
}
#wb-dev .wev-div-silectors-2 .we-dev-cnt-2 button{
  margin-top: 32px;
}
/* web-dev section end */

/* inspiration section styles started */
#inspiration_section{
  width: 1140px;
  height: 827px;
  margin: 0 auto;
  margin-top: 88px;
}
#inspiration_section h2{
  text-align: center;
}
#inspiration_section p{
  color: var(--darkTwo);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin: 24px 0px 48px 0px;
}
#inspiration_section .video_container{
  width: 1140px;
  height: 666px;
  padding: 32px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}
#inspiration_section .video_container video{
  width: 100%;
}
/* inspiration section styles ended */

/* target section styles started and
current target section styles started */

#target_section{
  width: 1140px;
  height: 1437px;
  margin: 0 auto;
  margin-top: 150px;
}

#current_target h2{
  text-align: center;
}

#current_target > p{
  color: var(--darkTwo);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 24px;
}

#current_target .current_target_card{
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

#current_target .c_card_item{
  border-radius: 16px;
  width: 364px;
  height: 299px;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

#current_target .c_card_item img{
  width: 56px;
  height: 56px;
}

#current_target .c_card_item h3{
  color: var(--darkOne);
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0%;
  text-align: left;
}
#current_target .c_card_item p{
  color: var(--darkTwo);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 8px;
}
#current_target .c_card_item a{
  color: var(--darkOne);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

#current_target .c_card_a{
  background: rgba(255, 76, 30, 0.05);
}
#current_target .c_card_b{
  background: rgba(0, 76, 232, 0.05);
}
#current_target .c_card_c{
  background: rgba(255, 223, 0, 0.05);
}

/* current target section styles ended */

/* next target section styles started */
#next_target_section{
  margin-top: 110px;
}

#next_target_section > h2{
  text-align: center;
}

#next_target_section > p{
  color: var(--darkTwo);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 24px;
}

#next_target_card{
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#next_target_card .n_card_item{
  width: 1140px;
  height: 219px;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 24px;
  background: var(--lightColor);
}

#next_target_card .n_card_content h3{
  color: var(--darkOne);
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0%;
  text-align: left;
}
#next_target_card .n_card_content p{
  color: var(--darkTwo);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin: 8px 0px 24px 0px;
}
#next_target_card .n_card_content a{
  color: var(--darkOne);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
/* next target section styles ended */
/* target section styles ended */

/* support section styles started */
#support_section{
  width: 1140px;
  height: 313px;
  margin: 50px auto 0px;
  border-radius: 16px;
  background-image: linear-gradient(
  45deg,
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2)),
  url(../assets/handshake.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 64px 48px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#support_section h2{
  color: var(--lightColor);
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}

#support_section > p{
  color: var(--lightColor);
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin: 16px 0px 24px 0px;
}

#support_section .input_box{
  display: flex;
  gap: 16px;

}
#support_section .input_box textarea{
  width: 548px;
  height: 57px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background-color: var(--lightColor);
}

#support_section .input_box input{
  border-radius: 8px;
  background-color: var(--lightColor);
  width: 120px;
  height: 57px;
  border: none;
  cursor: pointer;
  color: var(--darkOne);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0%;
  text-align: center;
}
/* support section styles ended */


/* footer section styles started */
#footer_section{
  width: 1440px;
  height: 100px;
  margin: 80px auto 0px;
  padding: 32px 150px;
  box-sizing: border-box;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer_section p{
  color: var(--darkOne);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0%;
  text-align: center;
}
#footer_section .footer_img img{
  width: 36px;
  height: 36px;
  margin-left: 24px;
}
/* footer section styles ended */